<div class="big">
    <h1>Forgot Password</h1>
  <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"  >
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <button type="submit" class="btn btn-primary">Send OTP</button>

      </div>
      <div class="form-group">
        <label for="password">OTP</label>
        <input type="password" class="form-control" id="password" placeholder="Password" >
        <!-- <span class="toggle-password" (click)="togglePasswordVisibility()"> -->
          <!-- <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i> -->
        <!-- </span> -->
       </div>
       <div class="btnlog">
        <!-- <button type="submit" class="btn btn-primary" (click)="login()">Login</button> -->
  
       </div>
    </form>
    <br><br>
  </div>
  